{% extends "base.html" %} {% block title %}Update test{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <form action="{{ url_for('problem.update', problem_id=problem.id) }}" method="POST" class="w-50">
        <h3 align="center">Edit Problem</h3>
        <div class="form-group">
            <label for="problem_name">Name</label>
            <input
                type="text"
                class="form-control"
                id="problem_name"
                name="problem_name"
                value="{{ problem.problem_name }}"
            />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
            >{{ problem.description }}</textarea>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
{% endblock %}