{% extends "base.html" %} {% block title %} {{ problem.problem_name }} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-10">
        <h1 class="mb-0">{{ problem.problem_name }}</h1>
    </div>
    {% if user.role_id != 1 %}
        <div class="col">
            <a href="{{ url_for('problem.edit_form', problem_id=problem.id) }}">Змінити</a>
        </div>
        <div class="col">
            <a href="{{ url_for('problem.delete', problem_id=problem.id) }}">Видалити</a>
        </div>
    {% endif %}
</div>
<pre class="mb-0" >{{ problem.description }}</pre>
<form action="{{ url_for('submissions.add_submission', problem_id=problem.id) }}" class="w-50" method="POST" enctype="multipart/form-data">
    <input type="file" class="btn btn-secondary mt-2" name="solution_file" accept=".py" required>
    <button type="submit" class="btn btn-primary mt-2">Надіслати</button>
</form>
{% if user.role_id != 1 %}
    <h3 align="center">Тести</h3>
    <ul class="list-group">
        <div class="container">
            <div class="row">
                <div class="col">
                    Вхідні дані
                </div>
                <div class="col">
                    Вихідні дані
                </div>
                <div class="col">
                    Бали
                </div>
                <div class="col">
                    Статус
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for test in problem.tests%}
                {% if test.status != 'deleted' %}
                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col">
                                {{ test.values['input'] }}
                            </div>
                            <div class="col">
                                {{ test.values['output'] }}
                            </div>
                            <div class="col">
                                {{ test.points }}
                            </div>
                            <div class="col">
                                {{ test.status }}
                            </div>
                            <div class="col">
                                <a href="{{ url_for('test.edit_form', test_id=test.id) }}">Змінити</a>
                            </div>
                            <div class="col">
                                <a href="{{ url_for('test.delete', test_id=test.id) }}">Видалити</a>
                            </div>
                        </div>
                    </li>
                {% elif user.role == 'super_admin'%}
                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col">
                                {{ test.values['input'] }}
                            </div>
                            <div class="col">
                                {{ test.values['output'] }}
                            </div>
                            <div class="col">
                                {{ test.points }}
                            </div>
                            <div class="col">
                                {{ test.status }}
                            </div>
                            <div class="col">
                                <a href="{{ url_for('test.edit_form', test_id=test.id) }}">Змінити</a>
                            </div>
                            <div class="col">
                                <a href="{{ url_for('test.delete', test_id=test.id) }}">Видалити</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </div>
    </ul>
    <div class="d-flex justify-content-center">
        <form action="{{ url_for('test.add', problem_id=problem.id) }}" method="post" class="w-50">
            <h3 align="center">Додати тест</h3>
            <label for="input_data">Вхідні дані:</label>
            <textarea
                name="input_data"
                class="form-control"
                required></textarea>
            
            <label for="expected_output">Вихідні дані:</label>
            <textarea
                name="expected_output"
                class="form-control"
                required></textarea>

            <label for="points">Бали:</label>
            <input 
                type="number"
                name="points"
                id="points"
                step="0.01"
                min="0"
                required>
            <button type="submit" class="btn btn-primary mt-2">Додати тести</button>
        </form>
    </div>
{% endif %}
{% endblock %}