{% extends "base.html" %} {% block title %}Теми{% endblock %}
{% block content %}
<ul class="list-group" id="topics">
    {% for topic in topics %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ topic.topic_name }}</h5>
                <small>{{ topic.max_mark }} pts</small>
            </div>
            <div class="container">
                <div class="row">
                    <p class="mb-1 col-7">{{ topic.description }}</p>
                    {% if user.role_id != 1 %}                     <!-- not student role -->
                        <p class mb-1 col>Статус: {{topic.status}}</p>
                    {% endif %}
                    <a class="mb-1 col" href="{{ url_for('problem.problem_list_of_topic', topic_id=topic.id) }}">Задачі</a>
                    {% if user.role_id != 1 %}                     <!-- not student role -->
                        <a class="mb-1 col" href="{{ url_for('topic.edit_form', topic_id=topic.id) }}">Змінити</a>
                        <a class="mb-1 col" href="{{ url_for('topic.delete', topic_id=topic.id) }}">Видалити</a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% if user.role_id != 1 %}                                          <!-- not student role -->
    
<div class="d-flex justify-content-center">
    <form action="{{ url_for('topic.add') }}" method="POST" class="w-50">
        <h3 align="center">Нова тема</h3>
        <div class="form-group">
            <label for="topic_name">Назва</label>
            <input
                type="text"
                class="form-control"
                id="topic_name"
                name="topic_name"
                required
            />
        </div>
        <div class="form-group">
            <label for="description">Опис</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
                required
            ></textarea>
        </div>

        <div class="form-group">
            <label for="max_mark">Оцінка за задачу</label>
            <input
                type="number"
                step="0.01"
                min="0"
                class="form-control"
                id="max_mark"
                name="max_mark"
                required
            >
        </div>
        <button type="submit" class="btn btn-primary">Створити</button>
    </form>
</div>
{% endif %}
{% endblock %}